<link type="text/css" href="style.css" />
 <!--[If IE]>
 <link type="text/css" href="IEHacks.css" />
 <![endif]-->
 <!--[if !IE]>
 <link type="text/css" href="NonIEHacks.css" />
 <![endif]-->
/* This stylesheet styles the header tags, containers and inputs */
* {
  box-sizing: border-box;
}

body 
{
  font-family: 'Sofia';
  font-size: 22px;
}

header 
{
  background-image: url('../webimg/FrontCounter.jpeg');
  padding: 15px;
  text-align: center;
  color: white;
}

h1 {
  color:#8a5602;
    font-family: 'Sofia';
    font-size: 45px;
    text-align: center;
    margin: 0px;
}

h2 {
  color:#8a5602;
    font-family: 'Sofia';
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
h3 {
  color:#8a5602;
    font-family: 'Sofia';
    text-align: center;
    margin: 25px;
}

h4 {
  color:#8a5602;
    font-family: 'Sofia';
    text-align: center;
    margin: 20px;

}


w3-container
{
    color:#8a5602;
    font-family: 'Times';    
}
w3-row w3-center w3-border w3-border-dark-grey
{
   color:#8a5602;
   font-family:'helvetica';
}
w3-row w3-center w3-border w3-border-dark-grey:hover
{
     border: 15px color antiquewhite;
    border-color: antiquewhite;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #8a5602;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8a5602;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
